.text-center {
  text-align: center;
  margin-top: 100px;
  color: rgb(250, 206, 49);
}

.bg-red {
  background: red
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
